<span>Open source:</span>
<div class="github-info">
        
        <a href="https://github.com/fefanto/fefanto.github.io" target="_blank" title="Github Repo for this website">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
        </a>
        
        |
        
        <a href="https://github.com/fefanto/fefanto.github.io/tarball/master" target="_blank" title="Download source tarball">
          <i class="fa fa-file-archive-o" aria-hidden="true"></i>
        </a>

        |

        <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" title="License">
          <i class="fa fa-creative-commons" aria-hidden="true"></i>
        </a>
         
</div>
 <hr class="visible-xs">

