 <div class="personal-info">
  
  <a href="https://www.instagram.com/fefanto" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  
  |
  
  
  <a href="https://github.com/fefanto" target="_blank">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  
  |
  
  
  <a href="https://twitter.com/fefanto" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  
  |
  
  
  <a href="https://www.youtube.com/channel/UC8YVwdRiuwJnBlpOT54lUwA" target="_blank">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>

  |

  <a href="http://stackoverflow.com/users/399674/fefanto" target="_blank">
    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
  </a>
  
  |
  
  
  
  <a href="http://www.google.com/recaptcha/mailhide/d?k=01iOu83HqcYq24ybpvCiqMDA==&c=lM1YjDXzUfsNRowhyIR7K-uTGylC0sqOD1z3Y921EhM=" target="_blank">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  
  
  
  
</div>