<div class="random-quote">
	<span>Random quote:</span><br>
	
	<div class="changing-quotes">
            <p class="hidden">life is so much pleasanter if one is able to believe in one's own latent greatness [Italo&nbsp;Svevo]</p>
            
            <p class="hidden">I could be bounded in a nutshell and count myself king of infinite space [W.Shakespeare]</p>
            
            <p class="hidden">Herald,save thou thy labor. Come thou no more for ransom,gentle herald. They shall have none,I swear, but these my joints. Which, if they have as I shall leave of them, shall yield them little [W.Shakespeare]</p>
            
            <p class="hidden">The dreamers ride against the men of action. Oh see the men of action falling back [L.Cohen]</p>
            
            <p class="hidden">If we are marked to die, we are enough to do our country loss. And if to live, the fewer men, the greater share of honor [W.Shakespeare]</p>
            
            <p class="hidden">For my part I know nothing with any certainty, but the sight of the stars makes me dream [V. Van gogh]</p>
            
            
            <p class="hidden">Brickwalls are there to let you show how badly you want something. They are supposed to stop anyone who doesn't want something badly enough. They're there for "the other" people [R.Pausch]</p>
            
            <p class="hidden">What is really important to me? how can I make my day reflect this? [A.Agassi] </p>

	</div>
      
</div>






