<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="{{ site.baseurl }}/index.html" class="pull-left visible-md visible-lg">
						<div id="logo-img"></div>
					</a>
					<div class="navbar-brand">
						<a href="{{ site.baseurl }}/index.html"><h1>{{ page.title }}</h1></a>
					</div>

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

<div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ site.baseurl }}/about.html">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> About</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/projects.html">
                <span class="glyphicon glyphicon-cog"></span><br class="hidden-xs"> Projects</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/blog.html">
                <span class="glyphicon glyphicon-tags"></span><br class="hidden-xs"> Blog</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/search.html">
                <span class="glyphicon glyphicon-search"></span><br class="hidden-xs"> Search</a>
            </li>
             <!-- <li id="phone" class="hidden-xs">
              <a href="tel:410-602-5008">
                <span>410-602-5008</span></a><div>* We Deliver</div>
            </li>-->
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->

 
			</div>
		</nav>
	</header>
	
	<div id="main-content" class="container">

		{{ content }}

	</div><!-- /.container -->
	
	
 <footer class="panel-footer">
    <div class="container">
      <div class="row">

        <section id="hours" class="col-sm-4">
          
          <span>Contacts</span><br>
          	<ul>
          		<li><a href="mailto:fefanto@gmail.com" target="_blank">email</a></li>
          		<li><a href="https://github.com/fefanto" target="_blank">github</a></li>
          		<li><a href="https://twitter.com/fefanto" target="_blank">twitter</a></li>
				<li><a href="https://www.youtube.com/channel/UC8YVwdRiuwJnBlpOT54lUwA" target="_blank">youtube</a></li>
				<li><a href="http://stackoverflow.com/users/399674/fefanto" target="_blank">stack overflow</a></li>
         	</ul>
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Open source</span><br>
          This site is hosted on github<br>
          Download:  &emsp; <a href="https://github.com/fefanto/fefanto.github.io/zipball/master">zip<a> &emsp; <a href="https://github.com/fefanto/fefanto.github.io/tarball/master">tar.gz</a> 
          <!--<p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>-->
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"life is so much pleasanter if one is able to believe in one's own latent greatness" [Italo&nbsp;Svevo]</p>
          
        </section>
      </div>
      <div class="text-center">&copy; Fefanto 2016 - Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, <a href="http://getbootstrap.com//" target="_blank">Bootstrap</a> and <a href="https://pages.github.com/" target="_blank">Github pages</a></div>
    </div>
  </footer>
		

	<!-- jQuery (Bootstrap JS plugins depend on it) -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>