<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	
  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>-->


<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/icons/manifest.json">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
  
</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="{{ site.baseurl }}/index.html" class="pull-left visible-md visible-lg">
						<div id="logo-img"></div>
					</a>
					<div class="navbar-brand">
						<a href="{{ site.baseurl }}/index.html"><h1>{{ site.title }}</h1></a>
					</div>

					<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
            <span class="icon-bar"></span>
					</button>
				</div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
           <li id="navHomeButton" class="visible-xs active">
              <a href="index.html">
                <i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
           <li id="navBlogButton">
              <a href="{{ site.baseurl }}/blog/">
                <i class="fa fa-list" aria-hidden="true"></i><br class="hidden-xs"> Blog</a>
            </li>
            <li id="navCategoriesButton">
              <a href="{{ site.baseurl }}/blog/categories/">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <br class="hidden-xs"> Categories</a>
            </li>
            <li id="navTagsButton">
              <a href="{{ site.baseurl }}/blog/tags/">
                <i class="fa fa-tags" aria-hidden="true"></i><br class="hidden-xs"> Tags</a>
            </li>
            <li id="navSearchButton">
              <a href="{{ site.baseurl }}/search/">
                <i class="fa fa-search" aria-hidden="true"></i><br class="hidden-xs"> Search</a>
            </li>
             <li id="navAboutButton">
              <a href="{{ site.baseurl }}/about/">
                <i class="fa fa-info-circle" aria-hidden="true"></i><br class="hidden-xs"> About</a>
            </li>
             <!-- <li id="phone" class="hidden-xs">
              <a href="tel:410-602-5008">
                <span>410-602-5008</span></a><div>* We Deliver</div>
            </li>-->
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->

 
			</div>
		</nav>
	</header>
	
	<div id="main-content" class="container">

		{{ content }}

	</div><!-- /.container -->
	
	
 <footer class="panel-footer">
    <div class="container">
     <hr>
      <div class="row">

        <div id="contacts" class="col-sm-4">
            {% include personal-info.html %}
        </div>
        <div id="opensource" class="col-sm-4">
            {% include github-info.html %}
        </div>
        <div id="quote" class="col-sm-4">
            {% include random-quote.html %}
        </div>
      </div>
      
      <div id="copyright-info">
          {% include copyright-info.html %}
      </div>
   </div>
  </footer>
		

	<!-- jQuery (Bootstrap JS plugins depend on it) -->
	<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/ajax-utils.js"></script>
 	<script src="{{ site.baseurl }}/js/script.js"></script>
  {% include analytics.html %}
  {% include disqus-count.html %}
</body>
</html>