<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	
  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

  <!-- <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>-->
</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<!-- <a href="{{ site.baseurl }}/index.html" class="pull-left ">
						<div id="logo-img"></div>
					</a> -->
					<div class="navbar-brand">
						<a href="{{ site.baseurl }}/index.html"><h1>{{ site.title }}</h1></a>
					</div>

					<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
            <span class="icon-bar"></span>
					</button>
				</div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
           <li>
              <a href="{{ site.baseurl }}/blog/">
                <span class="glyphicon glyphicon-list"></span><br class="hidden-xs"> Blog</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/blog/categories/">
                <span class="glyphicon glyphicon-cog"></span><br class="hidden-xs"> Categories</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/blog/tags/">
                <span class="glyphicon glyphicon-tags"></span><br class="hidden-xs"> Tags</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/search/">
                <span class="glyphicon glyphicon-search"></span><br class="hidden-xs"> Search</a>
            </li>
             <li>
              <a href="{{ site.baseurl }}/about/">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> About</a>
            </li>
             <!-- <li id="phone" class="hidden-xs">
              <a href="tel:410-602-5008">
                <span>410-602-5008</span></a><div>* We Deliver</div>
            </li>-->
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->

 
			</div>
		</nav>
	</header>
	
	<div id="main-content" class="container">

		{{ content }}

	</div><!-- /.container -->
	
	
 <footer class="panel-footer">
    <div class="container">
     <hr>
      <div class="row">

        <div id="contacts" class="col-sm-4">
          
          <span>Contacts:</span><br>
 
          {% include personal-info.html %}
          
          <hr class="visible-xs">
        </div>


        <div id="opensource" class="col-sm-4">
          <span>Open source:</span>
            {% include github-info.html %}
            
          <hr class="visible-xs">
        </div>


        <div id="quote" class="col-sm-4">
          <span>Random quote:</span><br>
          <p>"life is so much pleasanter if one is able to believe in one's own latent greatness" [Italo&nbsp;Svevo]</p>
          
        </div>


      </div>
      <hr>
      <div class="text-center">&copy; Fefanto 2016 - Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, <a href="http://getbootstrap.com//" target="_blank">Bootstrap</a> and <a href="https://pages.github.com/" target="_blank">Github pages</a>.</div>
      <div class="text-center">This site is <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Ffefanto.github.io%2F" target="_blank">W3C compliant</a> and <a href="https://developers.google.com/speed/pagespeed/insights/?url=fefanto.github.io&tab=mobile" target="_blank">loads decently fast.</a></div>
      
    </div>
  </footer>
		

	<!-- jQuery (Bootstrap JS plugins depend on it) -->
	<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/script.js"></script>
  {% include analytics.html %}
  {% include disqus-count.html %}
</body>
</html>