---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>


<div class="post">

	{{ content }} 
</div>

<p class="post-info">Posted on {{ page.date | date: "%B %e, %Y" }} • By {{ page.author }} • In 

	<a href="{{ site.baseurl }}{{ page.category_page }}#{{ page.category | slugify }}" class="post-cat">{{ page.category  }}</a>

	{% if page.tags %} | 
	{% for tag in page.tags %}
	<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
	{% endfor %}
	{% endif %}

</p>

{% unless page.no_comments %}
<hr></hr>

<div class="disqus media-padded">
	{% include disqus.html disqus_identifier=page.disqus_identifier %}
</div>
{% endunless %}
